.content{
    width: 1200px;
    margin: 0 auto;
}
.photo {
    position: relative;
    float: right;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden

}
.photo > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
p {
    color: #1F2B3B;
    font-family: "Berlin Sans FB Demi";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

}
li {
    color: #1F2B3B;
    padding-left: 1px;
    margin-left: -23px;
}
footer{
    color: #1F2B3B;
    font-family: "Berlin Sans FB Demi";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center
}
.code {
    background-color: #F6F6F6;
    margin: 0;
    padding: 20px;
    margin-right: 85px;
}
.content-footer{
    margin-bottom: 5px;
}
